
.mainContainer{
    position: relative;
    cursor: pointer;
}

.logo{
    animation: animateLogo 2s ease-in-out forwards;
   
    transform: translateZ(0%);
}

.mainContainer:after{
    content:'';
    position: absolute;
    bottom: 3px;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #D2CB3C;
    transform: translateY(10px);
    transition: transform 0.5s ease;
}


.mainContainer:hover:after {
    transform: translateY(0px);
  }


  @keyframes animateLogo {
    from{
        transform: rotateZ(0deg) ;
        
        filter: blur(10px);
        opacity: 1;
    }to{
        transform: rotateZ(720deg);
        opacity: 1;

    }
}
  