


.filter{
    animation: animateFilter 1s ease-in-out forwards;
}
.filter2{
    animation: animateFilter 1s ease-in-out forwards;
    animation-delay: 200ms;
}
.contact{
    animation: animateContact 1s ease-in-out forwards;
    animation-delay: 1s;
    transform: translateY(0);
}

.input{
    animation: animateInput 1s ease-in-out forwards;
    animation-delay: 2s;
    transform: translateY(0);
}

.title{
    animation: animateTitle 1s ease-in-out forwards;
    animation-delay: 0.8s;
}

.subTitle{
    animation: animateTitle 1s ease-in-out forwards;
    animation-delay: 1s;
    
}

.barra{
    animation: animateBara 1s ease-in-out forwards;
    animation-delay: 2s;
    
}

.description{
    animation: animateTitle 1s ease-in-out forwards;
    animation-delay: 1.2s;
}
.button{
    animation: animateTitle 1s ease-in-out forwards;
    animation-delay: 1.4s;
}


@keyframes animateFilter {
    from{
        transform: translateX(0%);
    }to{
        transform: translateX(-100%);
    }
}

@keyframes animateContact {
    from{
        transform: translateY(100%);

    }to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes animateInput {
    from{
        transform: translateY(100px);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes animateTitle {
    from{
        transform: translateY(20%);
        filter: blur(20px);
    }to{
        transform: translateY(0);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes animateBara {
    from{
        transform: translateX(-200px);
        
    }to{
        transform: translateX(0px) rotate(360deg);
        
        opacity: 1;

    }
}
